<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>전승원 바보</title>
    <style>
      body {
        padding: 0;
        margin: 0;
      }
      #wrap {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      h1 {
        font-size: 5rem;
        text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
      }
    </style>
  </head>
  <body>
    <div id="wrap">
      <h1>전승원 바보</h1>
    </div>
  </body>
</html>
